[submodule "qabel-core"]
	path = qabel-core
	url = https://github.com/Qabel/qabel-core
[submodule "qabel-desktop"]
	path = qabel-desktop
	url = https://github.com/Qabel/qabel-desktop
[submodule "qabel-helloworld-module"]
	path = qabel-helloworld-module
	url = https://github.com/Qabel/qabel-helloworld-module
[submodule "ackack"]
	path = ackack
	url = https://github.com/Qabel/ackack.git
[submodule "qabel-drop"]
	path = qabel-drop
	url = https://github.com/Qabel/qabel-drop.git
[submodule "qabel-storage"]
	path = qabel-storage
	url = https://github.com/Qabel/qabel-storage.git
[submodule "qabel-accounting"]
	path = qabel-accounting
	url = https://github.com/Qabel/qabel-accounting
